# Ignore Visual Studio temporary files, build results, and more
.vs/
*.user
*.suo
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
packages/
*.snupkg

# Others
*.log
*.tmp
*.bak
*.dbmdl
*.pdb
*.cache
